<h1>Admin Overview</h1>

<div class="alert alert-info" role="alert">
  <h3 style="text-align:center">Product Count: <%= @product_count.length %> </h3>
</div>

<div class="alert alert-info" role="alert">
 <h3 style="text-align:center"> Category Count: <%= @category_count.length %> </h3>
  </div>

